@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: hsl(47, 88%, 63%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  width: 25%;
  border-radius: 15px;
  box-shadow: 8px 8px 0px 0px hsl(0, 0%, 7%);
  -webkit-box-shadow: 8px 8px 0px 0px hsl(0, 0%, 7%);
  -moz-box-shadow: 8px 8px 0px 0px hsl(0, 0%, 7%);
  overflow: hidden;
  padding: 20px;
  margin: 6% auto;
  

  display: flex;
  flex-direction: column;
  gap: 20px;

}

.card--image img {
  width: 100%;
  border-radius: 10px;
}

.card--text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-alighn: left;
}

.card--text h4 {
  background-color: hsl(47, 88%, 63%);
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
  font-weight: 600;
  font-size: 12px;
}

.card--text h2 {
  font-weight: 500;
  font-size: 14px;
}

.card--text h1 {
  font-weight: 800;
  font-size: 20px;

}

.card--text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: hsl(0, 0%, 42%);
}

.card--avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card--avatar img {
  width: 30px;
  height: 30px;

}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  
  .card {
    width: 80%;
  }


  .container {
    padding: 0 10px;
    margin: 20% auto;
  }
}

@media (max-width: 375px) {
  .card {
    width: 80%;
  }
}