@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F6D050;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  width: 25%;
  border-radius: 15px;
  box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 8px 0px 0px rgba(0,0,0,0.75);
  overflow: hidden;
  padding: 20px;
  margin: 0 auto;
  

  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;

}

.card--image img {
  width: 100%;
  border-radius: 10px;
}

.card--text {
  display: flex;
  flex-direction: column;
  gap:10px;
  text-alighn: left;
}

.card--text h4 {
  background-color: #F6D050;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
  font-weight: 600;
  font-size: 12px;
}

.card--text h2 {
  font-weight: 500;
  font-size: 14px;
}

.card--text h1 {
  font-weight: 700;
  font-size: 18px;

}

.card--text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.card--avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card--avatar img {
  width: 30px;
  height: 30px;

}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .card {
    width: 60%;
  }
}

@media (max-width: 393px) {
  .card {
    width: 70%;
  }
}